
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/ScrollToPlugin.min.js"></script>
    <script src="/js/lightbox.min.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/color.js"></script>
  </body>

</html>
