<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demola - Building Technologies that scales</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- Font -->
    <link rel="preconnect" href="/fonts.googleapis.com/index.html" />
    <link rel="preconnect" href="/fonts.gstatic.com/index.html" crossorigin />
    <link
      href="/fonts.googleapis.com/css2c948.css?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/line-awesome.min.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/smooth-scrollbar.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
</html>
