<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demola - Building Technologies that scales</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- Font -->
    <link rel="preconnect" href="/fonts.googleapis.com/index.html" />
    <link rel="preconnect" href="/fonts.gstatic.com/index.html" crossorigin />
    <link
      href="/fonts.googleapis.com/css2c948.css?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/line-awesome.min.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/smooth-scrollbar.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="header-inner">
              <div class="logo">
                <a href="/">
                  <img src="/images/logo.png" alt="Demola" />
                </a>
              </div>
              <div class="header-right">
                <nav class="main-menu">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/ask">Ask</a></li>
                    <% if (user) { %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                          <%= user.firstname %> <i class="las la-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/user/dashboard">Dashboard</a></li>
                          <li><a href="/user/profile">Profile</a></li>
                          <li><a href="/user/logout">Logout</a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <li><a href="/user/login" class="btn btn-primary">Login</a></li>
                      <li><a href="/user/register" class="btn btn-outline-primary">Register</a></li>
                    <% } %>
                  </ul>
                </nav>
                <div class="header-btn">
                  <a href="/learn" class="btn btn-primary">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
