<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demola - Building Technologies that scales</title>

    <link rel="icon" type="image/x-icon" href="/images/mecon.png" />

    <!-- Font -->
    <link rel="preconnect" href="/fonts.googleapis.com/index.html" />
    <link rel="preconnect" href="/fonts.gstatic.com/index.html" crossorigin />
    <link
      href="/fonts.googleapis.com/css2c948.css?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/line-awesome.min.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/smooth-scrollbar.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <style>
      .sub-title{
        margin-left: 3rem;
      }

      global-color .inner .global-color-option {
    max-width: 600px;
    width: 80%;
    margin-left: auto;
    height: 100%;
    overflow-x: hidden;
    margin-right: -400px;
    background: rgb(25, 25, 25);
    transition: 0.4s;
    padding: 134px;
}
/* Adjusted styling for smaller video overlay */
.video-frame {
  display: none; /* Hidden by default */
  opacity: 0;
  transform: scale(0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Centered and scaled down */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Smooth transition */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 15px;
  z-index: 1000;
}

.video-frame.show {
  display: flex; /* Visible when .show is applied */
  opacity: 1;
  transform: translate(-55%, -72%) scale(1); /* Scale up for zoom-out effect */
}

/* Video dimensions within the overlay */
.video-frame .portfolio-video {
  width: 90vw;
  max-width: 700px;
  height: auto;
  
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffffaa;
  border: none;
  font-size: 18px;
  color: #333;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

/* Play button styling */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0404;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}


    </style>
  </head>
</html>
