<style>
  .tape{
    border-radius: 10px;
    background-color: rgb(71, 72, 74);
  }
  .tape label{
    color: antiquewhite;
    margin-left: 2px;
  }
</style>
    <div class="global-color">
        <span class="setting-toggle">
            <i class="las la-cog"></i>
        </span>
        <div class="inner">
            <div class="overlay"></div>
            <div class="global-color-option">
                <span class="close-settings">
                    <i class="las la-times"></i>
                </span>
                <p>Choose your Preference</p>
                   <div class="color-boxed">
                        <a href="#" class="clr-active" onclick="color1();"></a>
                        <a href="#" onclick="color2();"></a>
                        <a href="#" onclick="color3();"></a>
                        <a href="#" onclick="color4();"></a>
                        <a href="#" onclick="color5();"></a>
                        <!-- <a href="#" onclick="color6();"></a>
                        <a href="#" onclick="color7();"></a>
                        <a href="#" onclick="color8();"></a> -->
                        </div> 

                <h3>Special Acess/Login </h3>
 <section
            class="contact-area page-section scroll-content"
            id="contact">
            <div class="custom-container">
              <div class="contact-content content-width">
                <form
                  class="contact-form scroll-animation"
                  data-animation="fade_from_bottom"
                  method="POST"
                  action="#">
                  <div
                    class="alert alert-success messenger-box-contact__msg"
                    style="display: none"
                    role="alert">
                    Your message was sent successfully.
                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="input-group tape">
                        <label for="email">Email <sup>*</sup></label>
                        <input
                          type="email"
                          name="email"
                          id="email"
                          placeholder="Your email adress" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="input-group tape">
                        <label for="phone-number"
                          >password<span></span></label
                        >
                        <input
                          type="password"
                          name="password"
                          id="phone-number"
                          placeholder="Your Password" />
                      </div>
                    </div>


                    <div class="col-md-6">
                      <div class="input-group submit-btn-wrap">
                        <button
                          class="theme-btn"
                          name="submit"
                          type="submit"
                          id="submit-form">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>


                <div class="section-header">
        <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
          <i class="las la-envelope"></i> Contact me
        </h4>
        <h1 class="scroll-animation" data-animation="fade_from_bottom">
          Let's Work <span>Together!</span>
        </h1>
      </div>
      <h3 class="scroll-animation" data-animation="fade_from_bottom">
        hello@fadebowaley.xyz
      </h3>
      </div>
                </div>
            </div>
        </div>
    </div>
