   <div class="section-header">
               <a href="#">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-user"></i> Bio
                </h4>
            </a>

            <!-- <a href="#">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-camera"></i> Photos 
                </h4>
            </a>
            <a href="#">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-microphone"></i> Speaking Engagement
                </h4>
            </a>
            <a href="#">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-book"></i> Publications 
                </h4>
            </a>-->
                <h1 class="scroll-animation" data-animation="fade_from_bottom">
                   Welcome! I'm <span>Ademola</span> Adebowale
                </h1> 
            </div>