   <div class="section-header">
               <a href="/bio">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-user"></i> Bio
                </h4>
            </a>

            <a href="/photos">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-camera"></i> Photos 
                </h4>
            </a>
            <a href="/speaking">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-microphone"></i> Speaking Engagement
                </h4>
            </a>
            <a href="/publications">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-book"></i> Publications 
                </h4>
            </a>
                <h1 class="scroll-animation" data-animation="fade_from_bottom">
                   Welcome to my Space, I'm <span>Judah</span> Adebowale
                </h1> 
            </div>
