  <div class="left-sidebar">
      <div
        class="sidebar-header d-flex align-items-center justify-content-between">
       <a href="/" ><img src="/images/logo2.png" alt="Logo" /></a>
        <span class="designation">Software Engineer & Researcher</span>
      </div>
      <img class="me" src="/images/me.jpg" alt="Me" />
      <h2 class="email">hello@fadebowaley.xyz</h2>
      <h2 class="address">Base in Lagos, Nigeria</h2>
      <p class="copyright">&copy; 2021 Debo. All Rights Reserved</p>
      <ul
        class="social-profile d-flex align-items-center flex-wrap justify-content-center">
        <li>
          <a href="https://x.com/fadebowaley"><i class="lab la-twitter"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/fadebowaley"
            ><i class="lab la-linkedin"></i
          ></a>
        </li>
        <!-- <li>
          <a href="https://instagram.com/fadebowaley"
            ><i class="lab la-instagram"></i
          ></a>
        </li> -->
        <li>
          <a href="https://github.com/fadebowaley"
            ><i class="lab la-github"></i
          ></a>
        </li>
        <li>
            <a href="https://wa.me/2348085448030" target="_blank">
            <i class="lab la-whatsapp"></i
          ></a>
        </li>
      </ul>
      <a href="#contact-me" class="theme-btn">
        <i class="las la-envelope"></i> Hire Me!
      </a>
    </div>
