# Node modules
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env

# Build directories
dist
build

# Git files
.git
.gitignore

# Temporary files
.DS_Store
*.log

# Docker files
Dockerfile
docker-compose.yml
